{% load static %}

<section class="insert">
    <div class="container">
        <img src="{% static 'main/img/girl.jpg' %}" alt="girl">
        <div class="item-text">
            <h1>IGON THE CAPITSL OF GRSSIT BRITSIN</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Sed architecto dolorum inventore totam adipisci provident placeat perspiciatis. Lorem ipsum dolor
                sit amet, consectetur adipisicing elit.</p>
            <br>
            <div class="contact">
                <a href="#" class="to-form">Free consultation</a>
            </div>
        </div>
    </div>
</section>