<section id="home" class="page-main">
    <div class="container">
        <div class="item">
            <h1 class="item-header">IGON The Place You Trust</h1>
            <p class="item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Sed architecto dolorum inventore totam adipisci provident placeat perspiciatis</p>
        </div>
        <div class="item">
            <h1>IGON The Place You Trust</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Sed architecto dolorum inventore totam adipisci provident placeat perspiciatis. Lorem ipsum dolor
                sit amet, consectetur adipisicing elit.</p>
            <!-- <form class="form-contact" action="#">
                <p class="contact-title">Contact us now</p>
                <hr>
                <div class="contact-name">
                    <label for="name">Full Name</label>
                    <input type="text" id="name" name="name">
                </div>
                <div class="contact-email">
                    <label for="name">Email</label>
                    <input type="text" id="email" name="email">
                </div>
                <button class="form-btn-submit">Contact</button>
            </form> -->
        </div>
    </div>
</section>