.insert {
    background-color: #fff;
    display: flex;
    font-size: 20px;
}

.insert a {
    color: #000;
}

.insert .container {
    max-width: 1240px;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
}

.insert img {
    max-width: 100%;
}

.insert .item-text {
    color: #000;
    padding: 100px 20px 20px 20px;
}

.insert .to-form {
    font-weight: bold;
    border: 2px solid #000;
    border-radius: 30px;
    padding: 10px 20px;
}

@media only screen  and (max-width: 1220px) {
    .insert .container {
        max-width: 960px;
     }
}

@media only screen  and (max-width: 768px) {
    .insert .container {
        grid-template-columns: 1fr;
        max-width: 960px;
    }
}

@media only screen  and (max-width: 500px) {
    .insert .container {
        grid-template-columns: 1fr;
        max-width: 520px;
     }
}